<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An application that allows people to inform themselves of their state legislators in a fun way">
        <meta name="author" content="Jisan Zaman">
        <title>InformRUs - How Informed are you? Quiz</title>

        <!-- Bootstrap Core CSS -->
        <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!-- jsontree css -->
        <link type="text/css" href="css/jsontree.css" rel="stylesheet">

        <link type="text/css" href="css/style.css" rel="stylesheet">
        <link rel="icon" type="image/jpeg" href="img/democracy.jpeg">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <!-- <div class="row"> -->
                    <!-- <div class="col-md-offset-3"> -->
                        <h1>Inform-R-Us</h1>
                        <p>Enter your zipcode to start the quiz</p>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">Zipcode</span>
                            <input class="form-control" type="text"/>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </body>
</html>